.content {
    overflow-y: auto !important; /* 如果内容溢出，允许滚动 */
    padding: 20px;
    background-color: white; /* 设置浅色背景 */
    border-radius: 15px; /* 设置圆角 */
    justify-content: center;
    position: relative;
    height: calc(100vh - 64px); /* 使内容高度根据视窗高度动态调整 */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); /* 添加轻微阴影 */
    margin: 0 10px 10px 10px; /* 设置内容周围的外边距，确保不溢出 */
    max-height: calc(100vh - 110px); /* 确保内容不会超出父级范围 */
}

.content h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 6px 15px 8px 15px;
    word-wrap: break-word;
}

.content words {
    display: block;
    white-space: pre-line;
    font-size: 24px;
}

.container_img {
    width: 600px;
}

.blog-post-footer {
    width: auto;
    background-color: rgba(70, 172, 172, 0.1);
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-color: #428bca;
    border-left-width: 7px;
}

.footer-info {
    display: flex;
    font-size: 14px;
    color: #777;
    justify-content: center;
}

.p {
    font-size: 2em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

@media (max-width: 600px) {
    .content {
        padding: 20px;
        background-color: #f4f4f4;
        overflow-y: auto;
        margin-left: 70px;
        margin-top: 45px;
        margin-bottom: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        width: 65vw;
    }

    .content h1 {
        font-size: 40px;
        display: flex;
        justify-content: center;
        padding: 6px 15px 8px 15px;
        word-wrap: break-word;
    }

    .content words {
        display: block;
        white-space: pre-line;
        font-size: 24px;
    }

    .container_img {
        width: 600px;
    }
}
