.content {
    flex: 1; /* 让内容栏占据剩余的空间 */
    padding: 20px;
    background-color: #f4f4f4; /* 设置一个浅色背景区分内容 */
    overflow-y: auto; /* 如果内容溢出，允许滚动 */
    margin-left: 100px; /* 为内容栏设置左边距，确保不被导航栏遮挡 */
    margin-top: 45px;
    margin-bottom: 20px;
    border-radius: 15px; /* 设置圆角 */
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2); /* 添加轻微阴影，增强视觉效果 */
    width: 70vw;
    justify-content: center;
}

.content h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 6px 15px 8px 15px;
    word-wrap: break-word;
}

.content words{
    display: block;
    white-space: pre-line;
    font-size: 24px;
}

.container_img{
    width: 600px;
}

.blog-post-footer {
    width: auto;
    background-color: rgba(70, 172, 172, 0.1);
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-color: #428bca;
    border-left-width: 7px;
  }
  
  .insights {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .footer-info {
    display: flex;
    font-size: 14px;
    color: #777;
    justify-content: center;
    
  }

  .p{
    font-size: 2em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }

@media (max-width: 600px){

    .content {
        flex: 1; /* 让内容栏占据剩余的空间 */
        padding: 20px;
        background-color: #f4f4f4; /* 设置一个浅色背景区分内容 */
        overflow-y: auto; /* 如果内容溢出，允许滚动 */
        margin-left: 70px; /* 为内容栏设置左边距，确保不被导航栏遮挡 */
        margin-top: 45px;
        margin-bottom: 20px;
        border-radius: 15px; /* 设置圆角 */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 添加轻微阴影，增强视觉效果 */
        width: 65vw;
    }
    
    .content h1 {
        font-size: 40px;
        display: flex;
        justify-content: center;
        padding: 6px 15px 8px 15px;
        word-wrap: break-word;
    }
    
    .content words{
        display: block;
        white-space: pre-line;
        font-size: 24px;
    }
    
    .container_img{
        width: 600px;
    }
}