.header {
  display: flex;
  height: 48px;
  width: 100%;
  background: #F6F8FC;
  align-items: center;
  position: relative;
  justify-content:space-between;
  flex-direction: row;
  padding: 8px;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-color: rgb(32, 33, 36);
  border-bottom-style: none;
  border-bottom-width: 0;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(32, 33, 36);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(32, 33, 36);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(32, 33, 36);
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: none;

}

.menu_container {
  display: flex;
  flex-direction: row;
  width: 248px;
  height: 100%;
}

.menu_button {
  display: flex;
  border-radius: 50px;
  width: 48px;
  height: 48px;
  margin-left: 5px;
  background-color: #F6F8FC;
  transition: background-color 0.3s ease; 
  justify-content: center;
  align-items: center;
  border-width: 0px;
}

.menu_button:hover {
  background-color: #E8EAED;
}

.searchbar_container {
  display: flex;
  height: 48px;
  flex-grow: 1;
  flex-direction: row;
  align-items: center; 
}

.search-bar-box {
  display: flex;
  justify-items: start;
  align-items: center;
  height: 48px; 
  font-size: 16px; 
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #EAF1FB; 
  border-radius: 50px;
  flex-grow: 1;
  background-color: #EAF1FB;
  max-width: 720px;
}

.search-bar {
  display: flex;
  justify-items: start;
  align-items: center;
  height: 48px; 
  font-size: 16px; 
  box-sizing: border-box;
  padding: 8px;
  border: 0px; 
  flex-grow: 1;
  background-color: #EAF1FB;
  max-width: 720px;
  outline: none;            
}

.search-bar:focus {
  outline: none;            
  border: 0px;
}

.selfprofile_contianer {
  display: flex;
  width: 192px;
  height: 48px;
  justify-content: start;
  flex-direction: row;
  
}

.header_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.header_icon_box {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  background-color: #F6F8FC;
  border-radius: 50px;
  transition: background-color 0.3s ease; 
  color: #353535;
}

.header_icon_box:hover {
  background-color: #E8EAED;
}

.header_icon_box_searchbox {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  background-color: #EAF1FB;
  border-radius: 50px;
  transition: background-color 0.3s ease; 
  color: #353535;
}

.header_icon_box_searchbox:hover {
  background-color: #E8EAED;
}

.header_avatar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 48px;
}

.avatar_box {
  display: flex;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  background-color: #F6F8FC;
  transition: background-color 0.3s ease; 
}

.avatar_box:hover {
  background-color: #E8EAED;
}

.avatar_img {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50px;
}