.main-content {
    display: flex;              /* 让内容成为 flex 容器 */
    flex-direction: column;     /* 如果需要竖直排列内容 */
    position: relative;
    flex-grow: 1;               /* 占据剩余空间 */
    width: 100%;                /* 宽度占满父元素 */             /* 高度占满父元素 */
    overflow: hidden;
    min-width: 400px;
  }

.main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    min-width: 400px;
    border-radius: 15px;
    overflow-y: auto !important; /* 允许内容滚动 */
    overflow-x: auto !important;
}

.content_container{
    display: flex;
    min-width: 400px;
}

.header_content {
    display: flex;
    height: 48px;
    width: 100%;
    background: white;
    align-items: center;
    justify-content: space-between;
    position: sticky;  
    top: 0;            
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: none;
    border-bottom: none;
    z-index: 2;
}

  
.rowbutton_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 108px;
  height: 100%;
  border-width: 0px;
  padding-bottom: 8px;
  padding-top: 8px;
}
  
.row_button {
  display: flex;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background-color: white;
  transition: background-color 0.3s ease; 
  justify-content: center;
  align-items: center;
  border-width: 0px;
}
  
.row_button:hover {
  background-color: #E8EAED;
}

.column_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.column_box {
  display: flex;
  width: 25%;
  height: 48px;
  background-color: white;
  transition: background-color 0.3s ease;
  align-items: center;
  position: relative;  /* 伪元素相对于 column_box 定位 */
  border-width: 0px;
}

.column_box:hover {
  background-color: #E8EAED;
}

.column_box::after {
  content: '';               /* 伪元素内容为空 */
  position: absolute;         /* 相对于 column_box 定位 */
  bottom: 0;                  /* 定位到组件底部 */
  left: 0;                    /* 从左侧开始 */
  width: 0;                   /* 初始宽度为 0 */
  height: 2px;                /* 线条的高度 */
  background-color: #000;     /* 线条颜色 */
  transition: width 0.3s ease; /* 动画效果 */
}

.column_words {
  display: flex;
  font-size: 18px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.column_box:hover::after {
  width: 100%;                /* 当悬停时，线条的宽度扩展到 100% */
}


.column_box:hover::after {
  width: 100%;                /* 悬停时下边线的宽度延展到组件的宽度 */
}

.column_icon {
  display: flex;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border-width: 0px;
}

.pages_container {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.pages_words {
  display: flex;
  flex-grow: 1;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}