.navbar {
  width: 40px; /* 左侧导航栏宽度 */
  height: 96.5%;
  padding: 20px;
  top: 0;
  left: 0;
  float: left; /* 使用 float */
  background-color:#222c43 !important;
  z-index: 5;
  display: flex;
  flex: 1;
}


.navbar h2 {
  margin-bottom: 20px;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  margin: 10px 0;
}

.navbar ul li a {
  text-decoration: none;
  color: antiquewhite; /* 链接颜色 */
}

.navbar ul li a:hover {
  color: #000000; /* 悬停颜色 */
}

.navber_element {
  height: 80px;            
}

@media (max-width: 600px) {
  .navbar {
    width: 40px; /* 左侧导航栏宽度 */
    height: 99.2%;
    background-color: #f8f9fa;
    padding: 5px;
    top: 0;
    left: 0;
    float: left; /* 使用 float */
    background-color:#46ACAC
  }
  
  
  .navbar h2 {
    margin-bottom: 20px;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
  }
  
  .navbar ul li {
    margin: 10px 0;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #ffffff; /* 链接颜色 */
  }
  
  .navbar ul li a:hover {
    color: #000000; /* 悬停颜色 */
  }
  
  .navber_element {
    height: 80px;            
  }
}