@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.navbar {
  display: flex;
  flex-direction: column; /* 确保导航栏内容是竖直排列 */
  width: 256px;
  background: #F6F8FC !important;
  z-index: 5;
  flex-grow: 1; /* 让 Navbar 也可以扩展到剩余空间 */
  transition: width 0.3s ease; /* 宽度变化时的过渡动画 */
}

.navbar.collapsed {
  width: 80px; /* 收缩后的宽度 */
}

.navbar.expanded {
  width: 256px; /* 扩展后的宽度 */
}

.main_buttonbox {
  align-items: center;
  display: flex;
  height: 56px;
  margin: 8px 0 16px 0;
  padding-left: 8px;
  width: 248px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 16px;
  color: rgb(32, 33, 36);
  user-select: none;
  -webkit-box-align: center;
}

.main_button {
  align-items: center;
  display: flex;
  height: 56px;
  min-width: 96px;
  padding-right: 24px;
  width: 98px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: rgb(0, 29, 53);
  background-color: rgb(194, 231, 255);
  border-radius: 16px;
  cursor: pointer;
  transition-duration: 0.08s;
  transition-timing-function: linear;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}
