.custom-component {
    display: flex;
    width: 100%;
    min-width: 400px;
    height: 40px;
    background-color: white;
    border: 1px solid #E1E7EE; /* 设置1px的黑色边框 */
    border-left: 0;
    cursor: pointer;
    transition: transform 0.2s;
}

.custom-component:hover {
    background-color: #F6F8FC;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.preview_img_container {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
}

.preview_img_box {
    display: flex;
    height: 32px;
    width: 32px;
    max-width: 32px;
    max-height: 32px;
    border-radius: 50px;
}

.preview_content_container {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.preview_content_title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 8px;
}

.preview_content_words {
    display: flex;
    align-items: center;  
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    margin-left: 18px;
}

.preview_button_container {
    display: flex;
    width: 80px;
}