.custom-component {
    display: flex;
    width: 100%;
    min-width: 400px;
    height: 40px;
    background-color: white;
    border: 1px solid #E1E7EE; /* 设置1px的黑色边框 */
    border-left: 0;
    cursor: pointer;
    transition: transform 0.2s;
}

.custom-component:hover {
    background-color: #F6F8FC;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

  
  .image-display {
    position: relative; /* 确保子元素相对于父元素定位 */
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .img_custom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gradient-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* 确保背景不会阻挡点击事件 */
    border-radius: 10px;
}
  
 .content-double_column{
    display: flex;
    padding-right: 0;
    margin-top: 20px;
    margin-left: 100px;
    flex-direction: row;
    border-radius: 15px;
    width: 74vw;
    justify-content: space-between;
}
