.user-profile {
    display: flex;
    flex-direction: column; /* 改为竖直方向排列 */
    align-items: center;
    justify-content: center; /* 居中对齐内部内容 */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px; /* 设置固定宽度 */
    height: 350px; /* 设置固定高度，使其变成长方形 */
  }
  
  .user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* 圆形头像 */
    margin-right: 20px;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  .user-info h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .user-info p {
    margin: 5px 0;
  }
  