.user-profile {
  position: fixed; /* 固定位置 */
  top: 90px; /* 与顶部的距离设置为90px */
  right: 20px; /* 与右边的距离 */
  display: flex;
  align-items: center; /* 垂直居中对齐 */
  padding: 10px; /* 调整内边距 */
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 210px; /* 固定宽度 */
  height: 350px;
  transition: all 0.3s ease; /* 平滑过渡效果 */
  z-index: 1000; /* 确保在其他元素上方 */
}

.arrow {
  cursor: pointer; /* 鼠标悬停时显示手指光标 */
  font-size: 20px; /* 箭头大小 */
  margin-right: 10px; /* 箭头和头像之间的间隔 */
}

.user-info {
  display: flex;
  flex-direction: column; /* 确保信息竖直排列 */
  align-items: center; /* 内容居中 */
}

.user-avatar {
  width: 100px; /* 头像宽度 */
  height: 100px; /* 头像高度 */
  border-radius: 50%; /* 圆形头像 */
  margin-bottom: 10px; /* 与下方文字的间隔 */
}

.user-info h2 {
  margin: 0;
  font-size: 24px;
}

.collapsed {
  width: 40px; /* 收起状态的宽度 */
  height: 30px;
  justify-content: center; /* 水平居中 */
}
