.sidebar {
  width: 220px; /* 设置宽度 */
  background-color: rgba(70, 172, 172, 0.7); /* 半透明背景颜色 */
  padding: 20px; /* 内边距 */
  margin-top: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影效果 */
  right: 0; /* 右侧对齐 */
  height: auto; /* 高度填满屏幕，减去顶部的空间 */
  backdrop-filter: blur(10px); /* 磨砂玻璃效果 */
  -webkit-backdrop-filter: blur(10px); /* Safari 支持 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加轻微的阴影 */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* 白色透明边框线 */
  border-radius: 10px;
  position: static;
  flex: right;
}

h2 {
  margin-bottom: 10px; /* 标题底部间距 */
  flex-direction: column;
}

ul, ol {
  padding-left: 20px; /* 左边距 */
  flex-direction: column;
}
