.sidebar_container {
  display: flex;
  justify-content: flex-end; /* 将侧边栏对齐到右边 */
  width: 56px; /* 容器宽度 */
}

.sidebar {
  display: flex;
  flex-direction: column; /* 纵向排列 */
  width: 56px; /* 侧边栏宽度 */
  justify-content: flex-end;
  background-color: #F6F8FC; /* 半透明背景颜色 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影效果 */
  backdrop-filter: blur(10px); /* 磨砂玻璃效果 */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* 白色透明边框线 */
}

.icon-container {
  flex: 0 0 40%; /* 占用40%高度 */
  display: flex;
  flex-direction: column; /* 纵向排列 */
  align-items: center; /* 居中对齐 */
  margin: 20px;
}

.add-icon {
  flex: 0 0 30%; /* 占用30%高度 */
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  cursor: pointer; /* 鼠标指针样式 */
  color: antiquewhite;
  font-size: 24px; /* 图标大小 */
}

.empty-space {
  flex: 1; /* 占用剩余空间 */
}

/* 样式设置标题 */
h2 {
  color: antiquewhite;
}

/* 列表样式 */
ul, ol {
  padding-left: 10px; /* 左边距 */
  flex-direction: column;
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 隐藏溢出 */
  text-overflow: ellipsis; /* 省略号 */
  color: antiquewhite;
}
